biowarehouse/utils/xsd/db-schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="column">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="comment"/>
                <xs:element name="enumeration" type="enumeration" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="foreignKey" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="sdKey" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="length" type="xs:string"/>
            <xs:attribute name="precision" type="xs:string"/>
            <xs:attribute name="scale" type="xs:string"/>
            <xs:attribute name="required" type="xs:string" use="required"/>
            <xs:attribute name="auto-increment" type="xs:string"/>
            <xs:attribute name="size" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="enumeration">
        <xs:sequence>
            <xs:element name="restriction" type="enum" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="enum">
        <xs:attribute name="value" type="xs:string"/>
        <xs:attribute name="description" type="xs:string"/>
    </xs:complexType>
    <xs:element name="command">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="dialect" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="comment" type="xs:string"/>
    <xs:element name="constraint" type="xs:string"/>
    <xs:element name="foreignKey">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="column" type="xs:string" use="optional"/>
            <xs:attribute name="toTable" type="xs:string" use="required"/>
            <xs:attribute name="toColumn" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <!-- SchemaDoc key - used for the schema documentation only -->
    <xs:element name="sdKey">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="toTable" type="xs:string" use="required"/>
            <xs:attribute name="toColumn" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="index">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="variant" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="dialect" type="xs:string" use="required"/>
                        <xs:attribute name="columns" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="columns" type="xs:string" use="optional"/>
            <!-- Indexes with 'initial' = true are defined during the schema creation script -->
            <!-- instead of being included in the index creation script -->
            <xs:attribute name="initial" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="primaryKey">
        <xs:complexType mixed="true">
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="column" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="schema">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="datatypes" maxOccurs="1"/>
                <xs:element ref="tabletypes" maxOccurs="1"/>
                <xs:element ref="comment"/>
                <xs:element ref="table"/>
                <xs:element ref="command"/>
                <xs:element ref="sequence"/>
            </xs:choice>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="version" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="sequence">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="comment" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="increment" type="xs:string" use="required"/>
            <xs:attribute name="start" type="xs:string" use="required"/>
            <xs:attribute name="minValue" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="table">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="comment" maxOccurs="unbounded"/>
                <xs:element ref="column" maxOccurs="unbounded"/>
                <xs:element ref="constraint" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="primaryKey" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="foreignKey" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="index" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="type" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="tabletypes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ttype" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ttype">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="comment" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="datatypes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dtype" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="dtype">
        <xs:complexType>
            <xs:attribute name="notation" type="xs:string" use="required"/>
            <xs:attribute name="mysql" type="xs:string" use="required"/>
            <xs:attribute name="oracle" type="xs:string" use="required"/>
            <xs:attribute name="description" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
